.footer {
  color: var(--neutral-white, #FFF);
  /* P/Medium/Semibold */
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: 0.005rem;
  text-transform: uppercase;

  display: flex;
  padding: 1.5rem 5rem;
  justify-content: space-between;
  align-items: center;
  background: var(--neutral-black, #080808);

  position: fixed;
  left: 0;
  bottom: 0;
  width: -webkit-fill-available;
}

.buttonList {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-radius: 100px;
}

.button {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  gap: 0.5rem;
}
