<app-header></app-header>
<div class="intro">
  <div class="name">Deepak Kumar</div>
  <div class="description">
    <p>
      <span>Transforming Ideas into </span>
      <span class="highlight"> Impact</span>
    </p>
  </div>
  <div class="contactMe">
    <a class="buttonContact" href="mailto:imdeepak.com@gmail.com">Contact Me</a>
    <a class="seeProjects" href="#projects">See Projects</a>
  </div>
</div>
<div class="experience">
  <div class="catchPhrase">
    <span>Delivering </span> <span class="highlight">Impactful Solutions</span>
    <span>
      with <span class="highlight">Versatility</span> and
      <span class="highlight">Expertise</span>.</span
    >
  </div>
  <div class="exprDescription">
    <span
      >With a strong educational background in Computer Applications, along with
      a range of programming skills in Java, JavaScript, and TypeScript, I have
      gained extensive experience as a Full-Stack Developer at Deloitte. My
      expertise spans various frameworks such as Spring Boot and Angular, and I
      have successfully delivered projects, implemented features, and resolved
      defects in both front-end and back-end development. Not only have I
      received accolades for my performance and problem-solving abilities, but I
      have also demonstrated leadership skills by mentoring interns and
      onboarding new team members. My passion for innovation and dedication to
      delivering impactful solutions make me a valuable asset in the tech
      industry.</span
    >
  </div>
</div>
<div class="skills">
  <div class="highlight skillsLabel">Highlighted Skills</div>
  <div class="skillButtons">
    <div class="box">Java</div>
    <div class="box">JavaScript</div>
    <div class="box">Spring</div>
    <div class="box">Angular</div>
    <div class="box">SQL</div>
    <div class="box">FIGMA</div>
    <div class="box">GIT</div>
  </div>
</div>
<div class="workExperience">
  <div class="experienceCards"></div>
  <div class="experienceCards"></div>
  <div class="experienceCards"></div>
  <div class="experienceCards"></div>
</div>
<app-footer></app-footer>
